@charset utf-8;
/*global*/
body,h1,h2,h3,h4,h5,h6,div,p,ul,ol,dl,dt,dd,li,td,span,a,i,em,strong,input,select,textarea,form,hr{font-family: onion-chinese,"Helvetica Neue",Helvetica,Arial,sans-serif;;color:#545454;margin:0;padding:0;}
html{
  font-family:sans-serif;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
  overflow-y:scroll;overflow-x:hidden;
  /*去掉点击链接和文本框对象的半透明覆盖层(iOS)或者虚框(Android):*/
-Webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-text-size-adjust: none;
-webkit-user-select: none;
-webkit-overflow-scrolling:touch;
webkit-box-sizing: border-box;
-webkit-appearance: none;
font-size:62.5%;
 }
 body{background-color:#fff;
/*兼容<=IE8 不支持rem*/
font-size: 14px;
font-size: 14rem;}
i,em{font-style:normal}
li{list-style:none;}
img{border:none;-ms-interpolation-mode: bicubic;}
a{color:#3b3b3b;text-decoration:none}
a:active
{text-decoration:none;color:#3b3b3b;}
.center{text-align:center;margin:0 auto}
/*图文 列表*/
.space{margin:0 .8rem;}
.list{width: 100%;font-size:0;margin-top:1.2rem;}
.list li{display: inline-block;box-sizing:border-box;width: 50%;padding:0 .4rem 1.1rem;}
.list img{width: 100%;}
.list h3{height: 3rem;line-height: 3rem;overflow: hidden;font-size: 1.5rem;}
/*标题 列表*/
.space2{margin:0 1.2rem;}
.list-ul{width: 100%;font-size:0;padding-top:1.6rem;}
.list-ul li{width: 100%;}
.list-ul .hd{margin-bottom:1.6rem;height: 5.6rem;overflow: hidden;background-color: #efefef;border-radius:2.8rem;position: relative;}
.list-ul .hd img{display: inline-block;position: absolute;left:1.1rem;top:1.1rem;width: 3.7rem;}
.list-ul .hd h3{display: inline-block;height: 4.8rem;line-height: 5.6rem;overflow: hidden;font-size: 1.6rem;color: #1c1419;padding-left: 5.9rem;}
.list-ul .hd i{position: absolute;right:.8rem;top:2.2rem;font-size: 1.4rem;color: #ababab;
transition:.6s ease-in-out transform ;}
.list-ul .bd{display: none;position: relative;top:-1rem;}
.list-ul h4{height: 3.9rem;line-height: 3.9rem;overflow: hidden;font-size: 1.4rem;background-color: #fff;}
.list-ul .iconfont{font-size: 2.6rem;color: #d3d2d2;margin:0 1.4rem 0 1.8rem;position: relative;top:.4rem;}
.list-ul h4 a{display: block;width: 100%;height: 100%;color: #1c1419;font-size: 1.6rem;}
/*.list-ul .current .bd{display: block;}*/
.list-ul .current .hd i{
  transform:rotate(180deg);}



/*字体图标 begin*/
@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot'); /* IE9*/
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-hicjsquareaddenventcommonvideobtn:before { content: "\e68e"; }
.icon-down:before { content: "\e66d"; }

/*字体图标 end*/

















/*
.loading{display:none;width:50px;height:50px;background:url(../images/loading.gif)  no-repeat center center;} 
 img
{display:inline-block;background: url(../images/dddd.png) no-repeat center center;font-size:0;}
*/h1,h2,h3,h4,h5,h6{font-weight:normal;}

  /*优化*/
.clearf:after{content:"";display:table;clear:both;}
.hidden{overflow:hidden}
.none{display:none;}
.block{display:block;}
input:focus,textarea:focus{outline:none;}

