* {
    font-family: 'onion-chinese' !important;
}

*:focus {
    outline: none !important;
}

@font-face {
    font-family: 'onion-chinese';
    src: url('FZLanTYJWC.eot');
    src: url('FZLanTYJWC.ttf') format('truetype');
}

body {
    height: 100%;
}

html {
    height: 100%;
}

video {
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.list {
    width: 100%;
    font-size: 0;
    margin-top: 1.2rem;
    padding-left: 0;
}

.list h3 {
    height: 3rem;
    line-height: 3rem;
    overflow: hidden;
    font-size: 1.5rem;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.list h3:after{
    content:'...';
}

.list img {
    width: 100%;
}

.list li {
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    padding: 0 .4rem 1.1rem;
}

.list li a {
    color: black;
}

.list li a:hover {
    text-decoration: none;
}

.mobile-banner {
    padding: 3% 5% 3% 5%;
    width: 100%;
    display: table;
    height: 54px;
}

.mobile-logo {
    position: relative;
    display: table-cell;
    width: 30%;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;

}

.mobile-logo img {
    height: 20px;
    width: auto;

}

.mobile-slogan {
    float: right;
    color: #959595;
    display: inline-block;
    position: relative;
    line-height: 200%;
    height: 100%;
    font-size: 16px;
}

.mobile-space {
    margin: 0 .8rem;
}

#mobileluodi {
    position: relative;
    height: 100%;
    min-height: 560px;
    bottom: 0px;
}