<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit">
	<meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,user-scalable=0">
	<title>洋葱数学</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link rel="shortcut icon" href="http://www.yangcong345.com/favicon.ico">
	<link rel="stylesheet" href="css/index.css" type="text/css">
	<script src="js/fontsize.js"></script>
</head>
<body>
<!-- 图文列表 begin-->
<div class="space">
	<ul class="list">
		<li>
			<a href="">
				<img src="http://7sbkoa.com2.z0.glb.qiniucdn.com/%E6%9C%89%E7%90%86%E6%95%B02.png" alt="">
				<h3>有理数及其运算</h3>
			</a>
		</li>
		<li>
			<a href="">
				<img src="http://7sbkoa.com2.z0.glb.qiniucdn.com/%E6%9C%89%E7%90%86%E6%95%B02.png" alt="">
				<h3>有理数的概念和分类</h3>
			</a>
		</li>
		<li>
			<a href="">
				<img src="http://7sbkoa.com2.z0.glb.qiniucdn.com/%E6%9C%89%E7%90%86%E6%95%B02.png" alt="">
				<h3>数据的收集与整理</h3>
			</a>
		</li>
		<li>
			<a href="">
				<img src="http://7sbkoa.com2.z0.glb.qiniucdn.com/%E6%9C%89%E7%90%86%E6%95%B02.png" alt="">
				<h3>一元一次方程</h3>
			</a>
		</li>
	</ul>
</div>
<!-- 图文列表 end-->
	













</body>
</html>