<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit">
	<meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,user-scalable=0">
	<title>洋葱数学</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link rel="shortcut icon" href="http://www.yangcong345.com/favicon.ico">
	<link rel="stylesheet" href="css/index.css" type="text/css">
	<script src="js/fontsize.js"></script>
	<script src="js/jquery.min.js"></script>
</head>
<body>
<!-- 标题 列表 begin-->
<div class="space2">
	<ul class="list-ul">
		<li>
			<div class="hd">
				<img src="http://7xkfn8.com2.z0.glb.qiniucdn.com/assets/guideVideo.svg" alt="">
				<h3>有理数及其运算</h3>
				<i class='iconfont icon-down'></i>
			</div>
			<div class="bd">
				<h4><a href=""><i class='iconfont icon-hicjsquareaddenventcommonvideobtn'></i>[基础]相反数</a></h4>
				<h4><a href=""><i class='iconfont icon-hicjsquareaddenventcommonvideobtn'></i>[提高]相反数的性质</a></h4>
			</div>
		</li>
		<li>
			<div class="hd">
				<img src="http://7xkfn8.com2.z0.glb.qiniucdn.com/assets/guideVideo.svg" alt="">
				<h3>有理数及其运算</h3>
				<i class='iconfont icon-down'></i>
			</div>
			<div class="bd">
				<h4><a href=""><i class='iconfont icon-hicjsquareaddenventcommonvideobtn'></i>[基础]相反数</a></h4>
				<h4><a href=""><i class='iconfont icon-hicjsquareaddenventcommonvideobtn'></i>[提高]相反数的性质</a></h4>
			</div>
		</li>
		<li>
			<div class="hd">
				<img src="http://7xkfn8.com2.z0.glb.qiniucdn.com/assets/guideVideo.svg" alt="">
				<h3>有理数及其运算</h3>
				<i class='iconfont icon-down'></i>
			</div>
			<div class="bd">
				<h4><a href=""><i class='iconfont icon-hicjsquareaddenventcommonvideobtn'></i>[基础]相反数</a></h4>
				<h4><a href=""><i class='iconfont icon-hicjsquareaddenventcommonvideobtn'></i>[提高]相反数的性质</a></h4>
			</div>
		</li>
	</ul>
</div>
<!-- 标题 列表 end-->

<script>
$(function(){
	$('.list-ul li').first().addClass('current').find('.bd').slideDown();
		$(".list-ul").on('click','li',function(){	
		if($(this).hasClass('current')){
			$(this).removeClass('current').find('.bd').slideUp();
		}else{
			$(".list-ul li").removeClass('current')
			$(".list-ul .bd").slideUp()
			$(".list-ul li").eq($(this).index()).addClass('current').find('.bd').slideDown();
		}
	});	
});
</script>














</body>
</html>