<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>洋葱数学</title>
    <meta charset="utf8">
    <meta name="keywords" content="洋葱数学，初中数学，数学，数学学习，微课，微视频，翻转课堂">
    <meta name="description" content="洋葱数学让每个学生“一学就懂”！将趣味短视频与习题结合，轻松进行个性化在线学习，每天5分钟，赶快体验！">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="chapterCluster/chapter.css">
    <meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no">
</head>
<body>
<div class='title-zone' style="text-align: center;display:none;">
    <h1>初中数学免费视频</h1>
</div>
<ul style="margin-right:4em;display:none;">
    <li style="list-style: none;">
        <div>
            <div>
                生活中我们总会遇到一些用正数不好表达的情况：比如电梯下到地下一层、气温降到零下5度，还有欠了别人钱……这时候就需要负数出马了。学习负数的时候除了要注意形式，还要重点体会“负数表示相反意义的量”到底是什么意思。这个视频是讲解数学人教版七年级上负数的微课，介绍负数的定义，怎么理解负数，什么是负数，提出数字符号部分的概念。有助教师备课，学生自学预习有理数内容。
            </div>
            <div>
                <a href="http://vs.yangcong345.com/负数的定义.html?q=seo1">
                    负数的定义
                </a>
            </div>
        </div>
    </li>
    <li style="list-style: none;">
        <div>
            <div>
                学过负数之后，我们认识的数范围就扩大了，从正数扩展到了有理数的范畴。这一课的重点就是理解有理数的概念，并且学会给某个学过的数分类——没啥计算没啥难点，不就是认识点儿数么！讲解数学人教版七年级上有理数的微课，介绍有理数的概念和分类，什么是有理数，怎么区分有理数。有助教师备课，学生自学预习有理数内容。有理数包括整数和分数，π是无限不循环
            </div>
            <div>
                <a href="http://vs.yangcong345.com/有理数的概念和分类.html?q=seo1">
                    有理数的概念和分类
                </a>
            </div>
        </div>
    </li>
    <li style="list-style: none;">
        <div>
            <div>
                我们把看不见的温度放到温度计上，天热天冷一看就得。要是能把看不见的数也放到一个地方，数大数小一看就得该多好！这节课要学的数轴，就是让你偷懒之梦成真的东西。你要首先知道满足哪三个要素的东西是数轴，然后学习数轴怎么用。视频是讲解数学人教版七年级上数轴的微课，有助教师备课，学生自学预习数轴内容。
            </div>
            <div>
                <a href="http://vs.yangcong345.com/数轴.html?q=seo1">
                    数轴
                </a>
            </div>
        </div>
    </li>
    <li style="list-style: none;">
        <div>
            <div>
                绝对值！就是传说中的Absolute
                value！原价999的洋葱数学大礼包现价99就能带回家~~前提条件是你答对这道题：在数轴上3和-3这两个点有什么共同之处吗?讲解数学人教版七年级上绝对值的微课，介绍绝对值的定义，如何理解绝对值，一个数在数轴上所表示的点到原点的距离。生动有趣的数学课，有助教师备课，学生自学预习绝对值内容。
            </div>
            <div>
                <a href="http://vs.yangcong345.com/绝对值.html?q=seo1">
                    绝对值
                </a>
            </div>
        </div>
    </li>
    <li style="list-style: none;">
        <div>
            <div>
                善恶、对错、严寒酷暑，世界上总是有这么多相反的东西。万万没想到，数也有相反的吧！这节课要学的就是——相反数。讲解数学人教版七年级上相反数的微课，介绍相反数的定义及运算。只有符号不同的两个数叫相反数，负负得正，0是0的相反数，有助教师备课，学生自学预习相反数内容。
            </div>
            <div>
                <a href="http://vs.yangcong345.com/相反数.html?q=seo1">
                    相反数
                </a>
            </div>
        </div>
    </li>
    <li style="list-style: none;">
        <div>
            <div>
                玩游戏打Boss之前你肯定要先看看它什么属性吧？进攻型是防御型？都擅长什么招式？所以咱学四则运算之前先来熟悉一下它们的基本玩法。看看有理数的同号异号和四则运算如何组合。在有理数中，由于引入了负数的概念。所以相应的运算法则也需要扩大至负数的运算。有理数的运算分成两步：先定号再算数。人教版七年级上数学有理数四则运算微课讲解，洋葱数学，最好玩的数学课。讲解数学人教版七年级上有理数四则运算的微课，如何做有理数四则运算习题。运算顺序，法则是先定号，再算数。有助教师备课，学生自学预习有理数四则运算内容。
            </div>
            <div>
                <a href="http://vs.yangcong345.com/有理数四则运算介绍.html?q=seo1">
                    有理数四则运算介绍
                </a>
            </div>
        </div>
    </li>
    <li style="list-style: none;">
        <div>
            <div>
                气温从零上变到零下如何用计算来表示？欠了别人钱之后再去借钱是不是在作死？所有正数负数0之间纠缠不清的关系其实都能用有理数加法来解决！有理数的加法解析，讲解数学人教版七年级上有理数的加法的微课，如何做有理数四则运算习题。运算顺序，法则是先定号，再算数。有助教师备课，学生自学预习有理数四则运算内容。
            </div>
            <div>
                <a href="http://vs.yangcong345.com/有理数的加法.html?q=seo1">
                    有理数的加法

                </a>
            </div>
        </div>
    </li>
    <li style="list-style: none;">
        <div>
            <div>
                有理数的异号相乘，多个相同的数相加。和有理数的加减一样，有理数的乘法也是分为同号、异号的。这节课我们就要学习有理数的乘法基本运算法则，并且学会一些比较简单的运算。讲解数学人教版七年级上有理数乘法运算的微课，如何做有理数乘法运算习题。运算顺序，法则是先定号，再算数。有助教师备课，学生自学预习有理数乘法运算内容。
            </div>
            <div>
                <a href="http://vs.yangcong345.com/有理数的乘法.html?q=seo1">
                    有理数的乘法
                </a>
            </div>
        </div>
    </li>
    <li style="list-style: none;">
        <div>
            <div>
                在得知有理数的减法都能转化为加法这个激动人心的消息之后，如果再告诉你有理数的除法其实也都可以转化为乘法的话你应该也不会太意外了吧？而转化的key就是——倒数！先定号，然后再用绝对值部分相除。异号相乘、异号相除的定号方式和同号相乘、同号相除的定号方式是相同的。除法变乘法，法则是把除以一个数变成诚意这个数的倒数。倒数只对调分子分母。什么时候把除法变成乘法呢？1、要除的数是分数。2、乘除混合运算。讲解数学人教版七年级上有理数除法运算的微课，如何做有理数除法运算习题。运算顺序，法则是先定号，再算数。有助教师备课，学生自学预习有理数除法运算内容
            </div>
            <div>
                <a href="http://vs.yangcong345.com/有理数的除法.html?q=seo1">
                    有理数的除法
                </a>
            </div>
        </div>
    </li>
    <li style="list-style: none;">
        <div>
            <div>
                加法写烦了就诞生了乘法，那乘法写烦了呢？我们将会和喜欢吃米的米德君，一起学习多个相同的数相乘——乘方的表示方法。下面底数，上面指数。求n个相同因数积的运算叫做乘方。乘方的结果叫做幂。讲解数学人教版七年级上有理数乘方运算的微课，如何做有理数乘方运算习题。有助教师备课，学生自学预习有理数乘方运算内容
            </div>
            <div>
                <a href="http://vs.yangcong345.com/有理数的乘方.html?q=seo1">
                    有理数的乘方
                </a>
            </div>
        </div>
    </li>
    <li style="list-style: none;">
        <div>
            <div>
                你知道吗？一块钱人民币兑换的津巴布韦币是亿这个单位的！也就是说，想要用100块钱兑换津巴布韦币，那可是个天文数字。怎么让记数更简便呢？这就要用到科学记数法了。这节课，我们就要一起学如何用科学记数法记非常大的数。科学计数法就是把很大的数分成一个很小的数乘以十的乘方。最高位数必须是个位。讲解数学人教版七年级上科学计数法的微课，如何做科学计数法习题。有助教师备课，学生自学预习科学计数法内容
            </div>
            <div>
                <a href="http://vs.yangcong345.com/科学计数法.html?q=seo1">
                    科学计数法
                </a>
            </div>
        </div>
    </li>
    <li style="list-style: none;">
        <div>
            <div>
                就像我们的身份证上有生日和住址一样，单项式也有些可以用来彼此区分的重要标签。单项式的这些“标签”有的放在前面，有的顶在头上。讲解数学人教版七年级上科学计数法的微课，如何做科学计数法习题。有助教师备课，学生自学预习科学计数法内容。
            </div>
            <div>
                <a href="http://vs.yangcong345.com/单项式的系数与次数.html?q=seo1">
                    单项式的系数与次数
                </a>
            </div>
        </div>
    </li>
    <li style="list-style: none;">
        <div>
            <div>
                传说中有只大象因为头上长了个柿子所以人们称它为单象（项）柿（式）。结果有一天它走着走着，突然。。好吧我编不下去了，其实单项式是数字和字母之间的一种新玩法，自己进来看看呗。用字母表示数也可以参与计算。单项式是数字和字母的积。单项式的判定与式子的长短无关，与字母与数字的连接方式有关。单独的数字或单独的字母也是单项式。
            </div>
            <div>
                <a href="http://vs.yangcong345.com/单项式.html?q=seo1">
                    单项式
                </a>
            </div>
        </div>
    </li>
    <li style="list-style: none;">
        <div>
            <div>
                单项式是一头大象顶着柿子，多项式就是很多大象顶着柿子大乱斗。这节课我们要一起学习多项式的定义，和有关它系数、次数、项数的一些特征。讲解数学人教版七年级上多项式的微课，如何做多项式习题。有助教师备课，学生自学预习多项式内容。
            </div>
            <div>
                <a href="http://vs.yangcong345.com/多项式.html?q=seo1">
                    多项式
                </a>
            </div>
        </div>
    </li>
    <li style="list-style: none;">
        <div>
            <div>
                代数之父丢番图的墓志铭
                “过路人啊，这里安葬着丢番图，下面的数字可以告诉你他一生有多长。他生命的六分之一是愉快的童年；再过了生命的十二分之一它的面颊上长了细细的胡须，又过了生命的七分之一，他走进婚礼的殿堂；五年后天赐贵子，他感到很幸福。可是，命运给这孩子光辉灿烂的生命只有他父亲的一半。自从儿子死后，父亲的悲伤只有用研究数论去解脱，又过了四年，他也结束了尘世的生涯。”阿拉伯
                花拉子米 命名代数学。宋代的数学爱好者称解方程为天元术。有助教师备课，学生自学预习方程部分内容。用字母表示未知数，方程的历史，方程的介绍
                ，七年级上数学方程的全章介绍。洋葱数学，你没见过的数学学习视频，最有趣的数学学习。
            </div>
            <div>
                <a href="http://vs.yangcong345.com/方程简史.html?q=seo1">
                    方程简史
                </a>
            </div>
        </div>
    </li>
    <li style="list-style: none;">
        <div>
            <div>
                一元一次方程学习。方程的定义是，含有未知数的等式叫方程。未知数的最高次数决定了方程的次数。方程的未知数称作元。一元一次方程，等号两边都是整式，使等号两边相等的未知数的值就叫方程的解。求方程的解的过程叫解方程。如何能搞清楚其中的关系并且快速掌握方程三要素，洋葱数学方程与一元一次方程视频中告诉你一元一次方程这样学最有趣。
            </div>
            <div>
                <a href="http://vs.yangcong345.com/方程与一元一次方程.html?q=seo1">
                    方程与一元一次方程
                </a>
            </div>
        </div>
    </li>
    <li style="list-style: none;">
        <div>
            <div>
                如果所有的一元一次方程只用移项、合并同类项和系数化一就能解决该多好，含括号的方程如何移项。对于解方程的小伙伴们来讲，梦想和现实之间的差距往往就隔了一层——括号。嗯，如果所有的一元一次方程只用移项、合并同类项和系数化一就能解该多好~下面就在洋葱数学去括号、去分母解方程视频里介绍。七年级上数学去括号、去分母解方程备课资料，人教版数学，数学微课与翻转课堂资料。

            </div>
            <div>
                <a href="http://vs.yangcong345.com/去括号、去分母解方程.html?q=seo1">
                    去括号、去分母解方程
                </a>
            </div>
        </div>
    </li>
    <li style="list-style: none;">
        <div>
            <div>
                一元一次方程应用题，七年级上数学方程应用题，工程问题，生产问题，销售问题，年龄问题，盈亏问题，积分问题，计费问题...五花八门的应用题足以让人头痛心悸，耳鸣目炫。不过，看穿它千变万化的表皮，就会发现这应用题无外乎三个物种。哪三个呢？让薯条儿哥带你一探究竟...七年级上数学方程应用题备课资料，人教版数学，数学微课与翻转课堂资料。
            </div>
            <div>
                <a href="http://vs.yangcong345.com/初一方程应用题.html?q=seo1">
                    初一方程应用题
                </a>
            </div>
        </div>
    </li>
    <li style="list-style: none;">
        <div>
            <div>
                已知y=4是关于y的一元一次方程求m的值， 方程的解
                方程学习，课件，免费数学视频学习，七年级上数学方程的解备课资料，人教版数学，数学微课与翻转课堂资料。内容：难道方橙有姐姐了？重点错。我们早就知道方程的解就是满足原方程的未知数的值，比如“x=3”。而解决有关方程的解的题目，重点就在于：代入回原方程。人教版七年级上数学方程的解微课讲解，洋葱数学，最好玩的数学课。
            </div>
            <div>
                <a href="http://vs.yangcong345.com/方程的解.html?q=seo1">
                    方程的解
                </a>
            </div>
        </div>
    </li>
    <li style="list-style: none;">
        <div>
            <div>
                想在一个国家生活就要先学人家的话，想在代数世界吃得开也要先学人家的语言~怎么样把日常用语化成规范的代数用符号语言？这可是基本功。a的平方与b的和，a与b的平方和，a与b的平方的和，a与b的和的平方。这些都要怎么用数学语言表示出来呢？最关键的一点原来是看最后一个字！
            </div>
            <div>
                <a href="http://vs.yangcong345.com/符号语言和书写规范.html?q=seo1">
                    符号语言和书写规范
                </a>
            </div>
        </div>
    </li>
    <li style="list-style: none;">
        <div>
            <div>
                在整式里我们要把所有同类的单项式都合并到一块，系数相加，字母和字母指数不变。这，就是合并同类项。看到一个长式子里七零八散的同类项们，只要记住先找再挪，最后合并的口诀，都能将他们按类组团，合而为一。方程需要合并同类项才能得出解，先移项然后系数化1，当等式两边都有未知数要将未知数移到同一边。等式性质。移项注意变号。“九章算术里，几个人一起出钱买一只鸡，如果每人出九钱，则多出十一钱”的答案和解析在洋葱数学合并同类项、移项解方程视频。七年级上数学合并同类项、移项解方程备课资料，人教版数学，数学微课与翻转课堂资料。

            </div>
            <div>
                <a href="http://vs.yangcong345.com/合并同类项.html?q=seo1">
                    合并同类项
                </a>
            </div>
        </div>
    </li>
</ul>
<script>
    with (document)with (body)with (insertBefore(createElement("script"), firstChild))setAttribute("exparams", "category=&userid=&aplus&yunid=&asid=AQAAAAAyx95Vzg/oBwAAAACkpxQ2QSsfSQ==", id = "tb-beacon-aplus", src = (location > "https" ? "//s" : "//a") + ".tbcdn.cn/s/aplus_v2.js")
</script>
<script>
    var ua = navigator.userAgent;
    if (!ua.match(/baiduSpider/i)) {
        window.location = 'http://yangcong345.com';
    }
</script>
</body>
</html>